<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="logo_tag_big">
	<xacro:macro name="logo_tag_big" params="x_ y_ z_ r_ p_ yaw_">		
		<link name="logo_tag_big">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="1.0 1.0 0.03"/>
				</geometry>
			</visual>
			<inertial>
				<origin xyz="0 0 0"/>
				<mass value="0.001" />
				<inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy= "0.000001" iyz="0.0" izz="0.000001" />
			</inertial>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="1.0 1.0 0.03"/>
				</geometry>
			</collision>
		</link>
	
		<joint name="logo_tag_big_joint" type="fixed">
			<parent link="base_link"/>
			<child link="logo_tag_big"/>
			<origin xyz= "${x_} ${y_} ${z_}" rpy="${r_} ${p_} ${yaw_}"/>
		</joint>
		
		<gazebo reference="logo_tag_big">
			<kp value="50000000.0" />
			<kd value="0.2" />
			<minDepth>0.001</minDepth>
			<material>logo_alm</material>
		</gazebo>
	</xacro:macro>
</robot>
