<?xml version="1.0"?>

<model>
  <name>fox_robot</name>
  <version>1.0</version>
  <sdf version="1.4">base_fox_cart.gazebo.urdf</sdf>

  <author>
    <name>Bart Bootsma</name>
    <email>bart.bootsma@dobots.nl</email>
  </author>

  <author>
    <name>Reka Berci-Hajnovics</name>
    <email>reka@dobots.nl</email>
  </author>

  <description>
    Fox robot 
  </description>

</model>

