<?xml version="1.0"?>
<launch>
    
    <!--<node name="FramesPublisher" pkg="uav" type="FramesPublisher.py" output="screen" respawn="true"></node>-->
    <node pkg="tf" type="static_transform_publisher" name="static_tf_broadcaster" args="0 0 0.1 0 0 0 base_link rplidar_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="static_tf_broadcaster_fcu" args="0 0 0 0 0 3.14159265359 fcu_frd fcu 100" />
    <!--node name="rviz_uav" pkg="rviz" type="rviz" output="screen" args="-d $(find uav)/cfg/config.rviz" /-->
    

</launch>
