<?xml version="1.0"?>

<model>
  <name>rover_robot</name>
  <version>1.0</version>
  <sdf version="1.6">base_rover_cart.sdf</sdf>

  <author>
    <name>Bart Bootsma</name>
    <email>bart.bootsma@dobots.nl</email>
  </author>

  <author>
    <name>Reka Berci-Hajnovics</name>
    <email>reka@dobots.nl</email>
  </author>

  <description>
    rover robot 
  </description>

</model>

