<?xml version="1.0"?>
<launch>

  <arg name="robot_name" default="rover_cart"/>
  <arg name="init_pose" default="-x 0.0 -y 0.0 -z 0.2 -R 0.0 -P 0.0 -Y 0.0"/>

  <param name="robot_description" command="$(find xacro)/xacro $(find rover_description)/urdf/base_rover_cart.urdf.xacro" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" value="30.0"/>
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
    <param name="rate" value="30.0"/>
    <param name="use_gui" value="false"/>
  </node>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_rover" args="-urdf -param robot_description -model $(arg robot_name) $(arg init_pose)"/>

</launch>
