<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ar_tag">
	<xacro:macro name="ar_tag" params="number_ x_ y_ z_ r_">		
		<link name="ar_tag_${number_}">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.5 0.5 0.03"/>
				</geometry>
			</visual>
			<inertial>
				<origin xyz="0 0 0"/>
				<mass value="0.001" />
				<inertia ixx="0.000001" ixy="0.0" ixz="0.0" iyy= "0.000001" iyz="0.0" izz="0.000001" />
			</inertial>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 0"/>
				<geometry>
					<box size="0.5 0.5 0.03"/>
				</geometry>
			</collision>
		</link>
	
		<joint name="ar_tag_${number_}_joint" type="fixed">
			<parent link="base_cart_link"/>
			<child link="ar_tag_${number_}"/>
			<origin xyz= "${x_} ${y_} ${z_}" rpy="0.0 ${r_} 0.0"/>
		</joint>
		
		<gazebo reference="ar_tag_${number_}">
			<kp value="50000000.0" />
			<kd value="0.2" />
			<minDepth>0.001</minDepth>
                        <xacro:if value="${number_ == 5}">
                                <material>ar_tag_5</material>
                        </xacro:if>
                        <xacro:if value="${number_ == 13}">
                                <material>ar_tag_13</material>
                        </xacro:if>
                                
                   
		</gazebo>
	</xacro:macro>




</robot>
